<template name="Alert">
  <div {{attributes}}>
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{else}}
      {{{props.content}}}
    {{/if}}
    {{#if props.dismiss}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}
  </div>
</template>