<template name="ListGroupItem">
  {{#if isButton}}
    <button type="button" {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </button>
  {{/if}}
  {{#if isA}}
    <a {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </a>
  {{/if}}
  {{#if isLi}}
    <li {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </li>
  {{/if}}
</template>
