<template name="ListGroup">
  {{#if list}}
    <ul {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{#each item in items}}
          {{> ListGroupItem item}}
        {{/each}}
      {{/if}}
    </ul>
  {{else}}
    <div {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{#each item in items}}
          {{> ListGroupItem item}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</template>
