<template name="Table">
  {{#unless props.responsive}}
    <table {{attributes}}>
      {{#if props.caption}}
        <caption>{{{props.caption}}}</caption>
      {{/if}}
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </table>
  {{else}}
    <div {{responsive}}>
      <table {{attributes}}>
        {{#if props.caption}}
          <caption>{{{props.caption}}}</caption>
        {{/if}}
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{else}}
          {{{props.content}}}
        {{/if}}
      </table>
    </div>
  {{/unless}}
</template>