<template name="CardContent">
  {{#if isLink}}
    <a {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </a>
  {{/if}}
  {{#if isImg}}
    <img {{attributes}}/>
  {{/if}}
  {{#if isText}}
    <p {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </p>
  {{/if}}
  {{#if isTitle}}
    <h5 {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </h5>
  {{/if}}
  {{#if isSubtitle}}
    <h6 {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </h6>
  {{/if}}
  {{#if isDiv}}
    <div {{attributes}}>
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{else}}
        {{{props.content}}}
      {{/if}}
    </div>
  {{/if}}
</template>