<template name="SlimCardHeader">
  {{#if props.header}}
    {{# CardContent type='header'}}
      {{#if h6}}
        <h6 {{attributes}}>
          {{#if Template.contentBlock}}
            {{> Template.contentBlock}}
          {{else}}
            {{{props.content}}}
          {{/if}}
        </h6>
      {{/if}}
      {{#if label}}
        <label {{attributes}}>
          {{#if Template.contentBlock}}
            {{> Template.contentBlock}}
          {{else}}
            {{{props.content}}}
          {{/if}}
        </label>
      {{/if}}
      {{#if div}}
        <div {{attributes}}>
          {{#if Template.contentBlock}}
            {{> Template.contentBlock}}
          {{else}}
            {{{props.content}}}
          {{/if}}
        </div>
      {{/if}}
    {{/ CardContent}}
  {{else}}
    {{#if h6}}
      <h6 {{attributes}}>
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{else}}
          {{{props.content}}}
        {{/if}}
      </h6>
    {{/if}}
    {{#if label}}
      <label {{attributes}}>
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{else}}
          {{{props.content}}}
        {{/if}}
      </label>
    {{/if}}
    {{#if div}}
      <div {{attributes}}>
        {{#if Template.contentBlock}}
          {{> Template.contentBlock}}
        {{else}}
          {{{props.content}}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</template>