<template name="SlimUploader">
  <form method="POST" enctype="multipart/form-data" id="customFile">
    {{# Row ''}}
      {{# Col md=6}}
        <div class="custom-file">
          <input type="file" class="custom-file-input jqUploadclass" accept="{{props.accept}}" data-form-data='{{ submitData }}'>
          <label class="{{labelClass}}" for="customFile">{{infoLabel}}</label>
        </div>
      {{/ Col}}
      {{# Col md=6}}
        {{#if upload}}
          {{> Button startUpload}}
        {{/if}}
      {{/ Col}}
      {{# Col md=12 className='mt-2'}}
        {{#if running}}
          {{> SlimProgress color='success' stripe=true width=progress}}
        {{/if}}
      {{/ Col}}
    {{/ Row}}
  </form>
</template>