<template name="SlimDatepicker">
  <div class="{{groupClass}}">
    <div class="input-group-prepend">
      <div class="input-group-text">
        {{> IonIcon name='calendar'}}
      </div>
    </div>
    <input {{attributes}}>
  </div>
</template>