<template name="SlimNavbar">
  <ul class="nav">
    {{#each item in props.items}}
      <li class="{{itemClass item}}">
        <a class="nav-link" href="{{path item}}">
          {{{item.icon}}}
          <span>{{{item.title}}}</span>
          {{{item.after}}}
        </a>
        {{#if item.subitems}}
          <div class="sub-item">
            <ul>
              {{#each subitem in item.subitems}}
                {{#unless subitem.subitems}}
                  <li><a href="{{path subitem}}">{{{subitem.title}}}</a></li>
                {{else}}
                  <li class="sub-with-sub">
                    <a href="{{path subitem}}">{{{subitem.title}}}</a>
                    <ul>
                      {{#each sub2item in subitem.subitems}}
                        <li><a href="{{path sub2item}}">{{{sub2item.title}}}</a></li>
                      {{/each}}
                    </ul>
                  </li>
                {{/unless}}
              {{/each}}
            </ul>
          </div>
        {{/if}}
        {{#if item.mega}}
          <div class="sub-item">
            {{> Template.dynamic template=item.mega }}
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</template>