<template name="SlimSectionWrapper">
  <div {{attributes}}>
    {{#if props.title}}
      <label class="section-title">{{{props.title}}}</label>
    {{/if}}
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{else}}
      {{{props.content}}}
    {{/if}}
  </div>
</template>