<template name="SlimPageHeader">
  <div {{attributes}}>
    <ol class="breadcrumb slim-breadcrumb">
      {{#each link in links}}
        <li {{link.attributes}}>
          {{#if link.path}}
            <a href="{{link.path}}">
              {{{link.title}}}
            </a>
          {{else}}
            {{{link.title}}}
          {{/if}}
        </li>
      {{/each}}
    </ol>
    <h6 class="slim-pagetitle">{{{props.title}}}</h6>
  </div>
</template>