<template name="SlimTrend">
  <span {{attributes}}>
    {{#if isUp}}
      {{> IonIcon name='arrow-round-up'}}
    {{else}}
      {{> IonIcon name='arrow-round-down'}}
    {{/if}}
    {{#if Template.contentBlock}}
      {{> Template.contentBlock}}
    {{else}}
      {{{props.content}}}
    {{/if}}
  </span>
</template>