<template name="MainLayout">
  {{#if hasHeader}}
    <div class="slim-header">
      {{# Container ''}}
        {{#if props.header}}
          {{> Template.dynamic header}}
        {{else}}
          <div class="slim-header-left">
            {{> Template.dynamic headerLeft}}
          </div>
          <div class="slim-header-right">
            {{> Template.dynamic headerRight}}
          </div>
        {{/if}}
      {{/ Container}}
    </div>
  {{/if}}
  {{#if props.navbar}}
    <div class="slim-navbar">
      {{# Container ''}}
        {{> Template.dynamic navbar}}
      {{/ Container}}
    </div>
  {{/if}}

  {{#if props.fullWidth}}
    <div class="slim-mainpanel">
      {{# Container fluid=true}}
        {{> Template.dynamic fullWidth}}
      {{/ Container}}
    </div>
  {{/if}}

  <div class="slim-mainpanel" style="min-height: 79vh;">
    {{# Container ''}}
      {{> Template.dynamic template}}
    {{/ Container}}
  </div>

  {{#if props.footer}}
    <div class="slim-footer">
      {{# Container ''}}
        {{> Template.dynamic footer}}
      {{/ Container}}
    </div>
  {{/if}}
</template>
