<template name="SplitLayout">
  <div class="d-md-flex flex-row-reverse">
    <div class="signin-right">
      <div class="signin-box">
        {{> Template.dynamic right}}
      </div>
    </div>
    <div class="signin-left">
      <div class="signin-box">
        {{> Template.dynamic left}}
      </div>
    </div>
  </div>
</template>