<template name="Dropdown">
  <div class="{{wrapperClass}}">
    {{> Button toggle}}
    {{#if props.split}}
      {{# Button toggleSplit}}
        <span class="sr-only">Toggle Dropdown</span>
      {{/ Button}}
    {{/if}}
    <div class="dropdown-menu">
      {{#if Template.contentBlock}}
        {{> Template.contentBlock}}
      {{/if}}
      {{#each item in items}}
        {{> DropdownItem item}}
      {{/each}}
    </div>
  </div>
</template>