<template name="DropdownItem">
  {{#if props.divider}}
    <div {{divider}}></div>
  {{/if}}
  {{#if props.text}}
    <span {{text}}>{{{props.content}}}</span>
  {{/if}}
  {{#if props.header}}
    <h6 {{header}}>{{{props.content}}}</h6>
  {{/if}}
  {{#if isItem}}
    <a {{item}}>{{{props.content}}}</a>
  {{/if}}
</template>