.slim-nav {
  border: 1px solid $gray-400;

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: $gray-100;
    color: $body-color;
    position: relative;
    padding: 0 20px;

    + .nav-link {
      border-top: 1px solid $gray-300;
    }

    span:last-child {
      font-size: 13px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1px;
      width: 3px;
      height: 100%;
      background-color: $gray-400;
      opacity: 0;
      @include transition($transition-base);
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: theme-color('primary');

      &::before {
        opacity: 1;
      }
    }

    &.active {
      background-color: #fff;
      color: theme-color('primary');

      &::before {
        opacity: 1;
        background-color: theme-color('primary');
        @include gradient-y($blue, $purple);
      }
    }
  }
}